h2{
  color:orange;
}
button{
  color:white;
  background-color: blue;
}
p{
  background-color: black;
  color:white;
}
#a{
  color:rgb(255, 0, 0);}
#b{
  color:rgb(255, 0, 230);
}
#c{
  color:rgb(0,0,255);
}
#d{
  color:rgb(255,255,0);
}
#para{
  color:white;
}