h1{
  text-align: center;
  text-decoration:wavy green underline;
  letter-spacing: normal;
  /* letter-spacing:5px; */
  /* text-decoration-color: green; */
  /* border:solid; */
  /* width:50%; */
}
h2{
  text-align:start;
  font-family:impact;
  text-decoration:overline;
  text-decoration-color:pink;
}
p{
  text-align:right;
  line-height:normal;
  font-family:Arial;
}
h3{
  text-align:center;
  font-weight:normal;
}
a{
  text-align:center;
  text-decoration:none;
  color:chartreuse;
}