.box{
  height:100px;
  width:300px;
  background-color:pink;

  /* animation-name:colorAnimation;
  animation-duration:2s;
  animation-timing-function: ease-in;
  animation-delay:0;
  animation-iteration-count:infinite;
  animation-direction:alternate; */
  animation:widthAnimation 2s ease-in 0s infinite normal ;
}

@keyframes widthAnimation{
  from{
    width:10px;
    background-color: blue;
  }
  to{
    width:500px;
    background-color:green;
    border-radius:15px;
  }
}